language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm
matrix:
  exclude:
    - php: hhvm
      env: ENABLE_REDIS_EXT=1
env:
  - ENABLE_REDIS_EXT=0
  - ENABLE_REDIS_EXT=1
before_script:
  - sh -c "if [ $ENABLE_REDIS_EXT -eq 1 ]; then echo \"extension=redis.so\" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi"
  - composer install
